{% extends "layout.html" %}

{% block content %}
    <center>
        <article class="media content-section" style="width: 600px" data-width="600">
            <div class="container media-body">
                    <a class="twitter-timeline" data-lang="en" href="https://twitter.com/barakmich?ref_src=twsrc%5Etfw">Tweets by barakmich</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </article>
    </center>

{% endblock content %}